* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height:100%;
  font-size: 62.5%;
}

body {
  background-color: #fff0f6;
  font-family: "Protest Riot", sans-serif;
}

.container {
  margin-top:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.us {
    width: 40rem;
    height:auto;
}

.title {
  font-size: 3.6rem;
  color: #f53699;
  text-align: center;
  margin-bottom: 2rem;
}

.title3 {
  margin-top:50px;
  font-size: 3.6rem;
  color: #f53699;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
margin-top:20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.buttonsPictures {
  position:fixed;
  bottom:30;
  left:-300;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.btn--yes {
  background-color: Pink;
  border:2px #272323 solid;
}

.btn--no {
    background-color: Pink;
    border: 2px #272323 solid;
}

.hidden {
  display: none;
}


.home {
    background-color: Pink;
    border: 2px #272323 solid;
    font-size:20px;
    margin-bottom:25px;
  text-padding:5px;
  
}

.home2 {
    background-color: Pink;
    border: 2px #272323 solid;
    font-size:20px;
    margin-bottom:25px;
  text-padding:5px;
  
}

.home a,home2 a {
  text-decoration:none;
}



#Movie {
  margin-top:30px;
  Width:450px;
  Height:550px;
}

a
{
text-decoration:none;
}


.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius:7px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container {
  margin-top:10px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

